@mixin make_unselect() {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.word_list_items {
  @include make_unselect();
  -webkit-box-shadow: 8px 9px 19px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 8px 9px 19px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 8px 9px 19px -10px rgba(0, 0, 0, 0.8);

  width: 100%;
  background-color: var(--light_back);
  margin-bottom: 10px;
  display: inline-grid;
  grid-template-columns: 1fr 0.5fr .2fr;
  border-radius: 10px;

  &:hover {
    background-color: var(--light_back_hover);
    cursor: pointer;
  }
}

.item {
  display: flex;
  align-items: center;
}

.item_date,
.item_amount {
  font-size: 18px;
  color: var(--input_text);
}

.item_info {
  display: flex;
  align-items: center;
}

.flag_img {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 15px;

  img {
    height: 41px;
  }
}

.item_name {
  color: white;
  font-size: 20px;
}
.item_description {
  color: var(--input_text);
}

.item_amount {
  margin-right: 30px;
}

.item_date {
  display: flex;
}

.item_amount {
  display: flex;
  justify-content: flex-end;
}
