@mixin make_unselect() {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.word_list_items {
  @include make_unselect();
  -webkit-box-shadow: 8px 9px 19px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 8px 9px 19px -10px rgba(0, 0, 0, 0.8);
  box-shadow: 8px 9px 19px -10px rgba(0, 0, 0, 0.8);

  width: 100%;
  background-color: var(--light_back);
  margin-bottom: 10px;
  display: inline-grid;
  grid-template-columns: 1fr 0.5fr 0.2fr;
  border-radius: 10px;

  &:hover {
    background-color: var(--light_back_hover);
    cursor: pointer;
  }

  .mobile_ready {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
}

.item_date,
.item_amount {
  font-size: 18px;
  color: var(--input_text);
}

.item_info {
  display: flex;
  align-items: center;
}

.flag_img {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  overflow: hidden;
  width: 40px;
  min-width: 40px;
  height: 40px;
  margin: 15px;

  img {
    height: 41px;
  }
}

.item_name {
  color: white;
  font-size: 20px;
}
.item_description {
  color: var(--input_text);
}

.item_amount {
  margin-right: 30px;
}

.item_date {
  display: flex;
}

.item_amount {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 650px) {
  .word_list_items {
    display: block !important;

    .pc_ready {
      display: none;
    }

    .mobile_ready {
      display: flex !important;
      justify-content: center;
      padding: 0px 0px 5px 0px;


      .mobile_info_list {
        margin-top: 3px;
        display: flex !important;
        justify-content: space-between;
        width: 90%;
          

        .item_amount {
          margin-right: 0px;
        }
      }
    }
  }

  .flag_img {
    width: 25px;
    min-width: 25px;
    height: 25px;
    margin: 13px 10px 10px 10px;
    img {
      height: 25px;
    }
  }

  .item_name {
    margin-top: 3px;
    font-size: 17px;
  }

  .item_date {
    font-size: 14px;
  }
  .item_amount {
    font-size: 14px;
  }

  .item_description {
    margin-right: 10px;
  }
}
