.main {
  margin-top: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.score {
  .score_text {
    font-size: 50px;
    margin: 0px 0px 10px 0px;
    color: white;
    font-weight: 400;
  }

  .rigth_wrong_percent {
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin: 0px;
  }
}

.list_holder {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

  .inner_holder {
    width: 90%;
    max-width: 500px;

    .lists {
      margin: 30px 0px 20px 0px;

      .list_header {
        display: flex;
        justify-content: space-between;

        h1 {
          margin: 0px;
          font-weight: 400;
        }

        .header_text_right {
          color: var(--good);
        }

        .header_text_wrong {
          color: var(--bad);
        }

        div {
          display: flex;
          align-items: center;

          background-color: var(--light_back);
          padding: 5px 10px;
          border-radius: 4px;
          color: var(--accent);
          font-weight: 500;
          font-size: 20px;

          &:hover {
            cursor: pointer;
            background-color: var(--light_back_hover);
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .score_text {
    font-size: 30px !important;
  }
  .rigth_wrong_percent {
    font-size: 18px !important;
  }
  .list_header {
    h1 {
      margin-bottom: 10px !important;
    }
  }
}
