.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.words {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr auto 1fr;

  .word_mid_space {
    width: 10vw;
  }
  
  .word_left {
    justify-self: end;
  }
  
  .word_right {
    justify-self: start;
  }
}


.word {
  background-color: var(--light_back);
  margin-bottom: 30px;
  border-radius: 6px;
  padding: 10px 30px;

  span {
    color: white;
    font-size: 30px;
  }

  &:hover {
    cursor: pointer;
    background-color: var(--light_back_hover);
  }
}

.line {
  pointer-events: none;
  position: absolute;
  top: 0;
}

.good_word {
  border: 1px solid var(--good)
}

.bad_word {
  border: 1px solid var(--bad)
}

.selected_word {
  border: 1px solid var(--accent)
}

.none_word {
  border: 1px solid var(--light_back)

}

@media (max-width: 650px) {
  .word {
    margin-bottom: 10px;
    padding: 10px 20px;
    span {
      font-size: 17px;
    }
  }
}