@mixin make_unselect() {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.main {
  width: 80%;
  max-width: 900px;
}

.title_text {
  font-weight: 400;
  margin: 0px 0px 0px 0px;
  font-size: 50px;
  color: white;
}

.desciption_text {
  font-weight: 400;
  margin: 0px 0px 10px 0px;
  font-size: 30px;
  color: var(--input_text);
}

.view_list {
  .land_choice {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .land_choice_form {
      display: flex;
      width: 45%;
    }
    .view_form_what_to_what {
      color: var(--accent);
    }

    font-size: 30px;

    .view_land_info {
      display: flex;
      align-items: center;
      margin: 0px 0px 10px 0px;

      .view_land_flag {
        height: 25px;
        margin-right: 10px;
      }

      .view_land_name {
        color: var(--input_text);
        font-weight: 400;
        font-size: 23px;
      }
    }
  }
}

.info_buttons_holder {
  display: flex;
  width: 100%;
  justify-content: space-between;

  .info_buttons {
    margin-top: 15px;
    display: flex;
    
    .test_button {
      margin-right: 10px;
    }
    .list_do_button {
      
      span {
        background-color: var(--light_back);
        padding: 5px 10px;
        border-radius: 4px;
        color: var(--accent);
        font-weight: 500;
        font-size: 20px;

        &:hover {
          cursor: pointer;
          background-color: var(--light_back_hover);
        }
      }
    }
  }
}

.input_holder {
  display: flex;
  justify-content: space-between;
}

.list_info_input {
  color: white;
  background-color: var(--light_back);
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;

  &::placeholder {
    color: var(--input_text);
  }
}

.list_info_witdh {
  width: 47%;
}

.language_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.dropdown {
  width: 45%;
}

.switchLand {
  display: flex;
  align-self: center;
  color: var(--accent);
  height: 30px;
}

.words {
  margin-top: 30px;
  width: 100%;
}

.input_line {
  margin-bottom: 400px;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.words_number {
  width: 0px;
  position: relative;
  right: 30px;
  color: var(--accent);
  font-size: 23px;
  font-weight: 500;
}

.words_input {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.words_width {
  width: 42.8%;
}

.add_words {
  position: relative;
  left: 10px;
  width: 0px;

  .add_words_button {
    padding: 5px 33px 6px 3px;
    border-radius: 4px;

    &:hover {
      background-color: var(--light_back);
    }
  }
}

.mobile_ready {
  display: none;
}

.game_selector {
  border-radius: 0 4px 4px 4px;
  width: 150px;
  margin-top: 14px;
  position: absolute;
  background-color: var(--light_back);

  div {
    padding: 10px 10px 10px 10px;

    a {
      color: var(--accent);

    }
    &:hover {
      background-color: var(--light_back_hover);
      cursor: pointer;
    }

  }
}


@media (max-width: 650px) {
  .main {
    width: 90%;
  }
  .title_text {
    font-size: 25px;
  }
  .info_buttons {
    display: none !important;
  }
  .desciption_text {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .mobile_ready {
    margin: 3px 0px 5px 0px !important;
    display: flex !important;

    .test_button {
      span {
        font-size: 15px !important;
      }
    }
    .edit_button {
      span {
        font-size: 15px !important;
      }
    }
  }

  .view_land_name {
    font-size: 17px !important;
  }
  .input_holder {
    margin-top: 5px;
    margin-bottom: 15px;


    flex-direction: column;
  }
  .list_info_witdh {
    width: auto;
    flex: 1;
  }
  .list_info_input {
    font-size: 17px;
    padding: 7px;
    margin-bottom: 5px;
  }
  .language_info {
    display: block !important;
    margin: 0px;
  }
  .switch_lands_mobile {
    display: none !important;
  }
  .input_valid {
    border:none !important;
  }
  .words_number {
    display: none;
  }
  .words_input {
    flex-direction: column;
  }
  .words_width {
    width: auto
  }
  .add_words_button {
    padding: 5px 19px 6px 19px !important;
  }
  .add_words {
    width: auto;
    left: 0px;
  }
}