@mixin make_unselect() {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.main {
  width: 80%;
  max-width: 900px;
}


h1 {
    color: white;
}