<div class="input_line">
  <span class="words_number">{{ index + 1 }}</span>

  <div class="words_input">

    <div class="word_holder">
      <span>{{ word?.word }}</span>
    </div>

    <div class="word_holder">
      <span>{{ word?.translation }}</span>
    </div>
  </div>

  <div class="edit_word">
    <div class="edit_word_buttons">
      <img class="switchLand" src="../../assets/svg/check.svg" alt="">
    </div>
    <div class="edit_word_buttons">
      <img class="switchLand" src="../../assets/svg/check.svg" alt="">
    </div>

  </div>
</div>