.input_line {
  align-items: center;
  border-radius: 4px;
  margin: 2px -7px;
  display: flex
}

.words_input {
  justify-content: space-between;
  padding: 0px 7px;
  display: flex;
  width: 100%;
}

.words_number {
  color: var(--accent);
  position: relative;
  font-weight: 500;
  font-size: 23px;
  width: 0px;
  right: 25px;
}

.edit_word {
  position: relative;
  display: flex;
  left: 10px;
  width: 0px;

  .edit_word_buttons {
    border-radius: 4px;
    margin-right: 6px;
    padding: 6px 4px;

    &:hover {
      background-color: var(--light_back);
    }

    img {
      align-self: center;
      display: flex;
      height: 25px;
    }
  }
}

.word_holder {
  width: 45%;

  span {
    font-size: 20px;
    color: white;
  }
}

.input_value {
  width: 95%;
  color: white;
  background-color: var(--light_back);
  border: none;
  padding: 5px;
  border-radius: 4px;
  font-size: 20px;

  &::placeholder {
    color: var(--input_text);
  }
}